<html _component="Layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/css/output.css" />
        <script src="/static/js/staci.js"></script>
        <title>$prop("title")</title>
        <st-scrollbar></st-scrollbar>
    </head>
    <body class="bg-black h-full text-white st-scrollbar flex flex-col">
        <script>
            staci.set('navOpen', false);
            staci.set('navClose', true);
            staci.event('toggleNav', (e) => {
                let [navOpen, setNavOpen] = staci.get('navOpen');
                let [navClose, setNavClose] = staci.get('navClose');
                setNavClose(!navClose);
                setNavOpen(!navOpen);
            });
        </script>
        <StaciHeader></StaciHeader>
        <nav class="pt-[90px] fixed border-r border-gray-800 lg:w-[25%] xl:w-[20%] h-full flex">
            <ul class="flex flex-col gap-4 p-4 w-full text-sm">
                <li class="rounded border border-gray-800 flex">
                    <a href="/" class="p-4">Home</a>
                </li>
            </ul>
        </nav>
        <Overlay></Overlay>
        <div class="flex-grow pt-[90px] md:px-[5%] lg:px-[0%] lg:pl-[25%] lg:pr-[20%] xl:pl-[20%] xl:pr-[30%]">
            $slot("mdContent")
        </div>
        <footer class="p-4 text-sm italic border-t border-gray-800 bg-black z-30">
            <p>"M-M-Mama says alligators are so ornery 'cause they got all them teeth and no toothbrush. 🐊" - Adam Sandler, *The Waterboy*</p>
        </footer>
    </body>
</html>

<Layout _component="HomePage" title="staci - lightweight, reactive signals 🤌">
    <div class="p-4" st-ignore="true" _slot="mdContent">
        <div _md="./static/content/intro.md" _md-theme="dracula" class="rounded border-b border-gray-800" st-ignore="true"></div>
        <a href="/docs/signals" class="flex cursor-pointer p-4 flex-row rounded  items-center justify-center bg-dracula-pink text-black">Read the Docs</a>
    </div>
</Layout>

<Layout _component="DocSignals" title="staci - lightweight, reactive signals 🤌">
    <div class="p-4" st-ignore="true" _slot="mdContent">
        <div _md="./static/content/signals.md" _md-theme="dracula" class="rounded border-b border-gray-800" st-ignore="true"></div>
        <PageTurn prev-href="/" prev-title="Home" next-href="/docs/events" next-title="Events" show-prev="true" show-next="true"></PageTurn>
    </div>
</Layout>

<Layout _component="DocEvents" title="staci - lightweight, reactive signals 🤌">
    <div class="p-4" st-ignore="true" _slot="mdContent">
        <div _md="./static/content/events.md" _md-theme="dracula" class="rounded border-b border-gray-800" st-ignore="true"></div>
        <PageTurn prev-href="/docs/signals" prev-title="Signals" next-href="/docs/observers" next-title="Observers" show-prev="true" show-next="true"></PageTurn>
    </div>
</Layout>


<Layout _component="DocObservers" title="staci - lightweight, reactive signals 🤌">
    <div class="p-4" st-ignore="true" _slot="mdContent">
        <div _md="./static/content/observers.md" _md-theme="dracula" class="rounded border-b border-gray-800" st-ignore="true"></div>
        <PageTurn prev-href="/docs/events" prev-title="Events" next-href="" next-title="" show-prev="true" show-next="false"></PageTurn>
    </div>
</Layout>

<header _component="StaciHeader" class="p-4 flex bg-black z-30 fixed w-full flex-row justify-between border-b border-gray-800 text-white bg-black h-[90px]">
    <div class="flex">
        <div class="flex w-10 items-center justify-center">
            <img src="/static/img/logo-dark.svg" class="flex h-full">
        </div>
    </div>
	<div class="flex items-center justify-center">
        <div st-hide="{{ navOpen }}" st-click="toggleNav">
            <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
            </svg>
        </div>
        <div st-hide="{{ navClose }}" st-click="toggleNav" class="hidden">
            <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>
        </div>
    </div>
</header>

<section _component="PageTurn" class="flex flex-row justify-between p-4">
    <a _if="showPrev" class="px-4 py-2 border rounded border-gray-800 text-sm w-[33%] flex items-center justify-center" href="$prop('prevHref')">
        <h2 class="font-bold text-dracula-yellow">$prop("prevTitle")</h2>
    </a>
    <div _else="showPrev"></div>
    <a _if="showNext" class="px-4 py-2 border rounded border-gray-800 text-sm w-[33%] flex items-center justify-center" href="$prop('nextHref')">
        <h2 class="font-bold text-dracula-yellow">$prop("nextTitle")</h2>
    </a>
    <div _else="showNext"></div>
</section>

<div _component="Overlay" st-click="toggleNav" class="fixed h-full w-full bg-black opacity-50 hidden" st-hide="{{ navClose }}"></div>