{{ define "navbar"}}
<nav class="w-[70%] fixed left-0 h-full border-r bg-black border-gray-800 flex z-30 top-[90px] text-sm w-[25%] lg:w-[25%] xl:w-[20%] hidden {| navClass |} lg:flex">
    <ul class="flex flex-col gap-4 w-full p-2">
        {{ if strEquals .ReqPath "/" }}
            <li class="rounded border border-gray-800 text-dracula-pink flex">
                <a href="/" class="p-4 cursor-pointer w-full">Home</a>
            </li>
        {{ else }}
            <li class="rounded border border-gray-800 flex">
                <a href="/" class="p-4 cursor-pointer w-full">Home</a>
            </li>
        {{ end }}
        {{ if strEquals .ReqPath "/docs/signals" }}
            <li class="rounded border border-gray-800 text-dracula-pink flex">
                <a href="/docs/signals" class="p-4 cursor-pointer w-full">Signals</a>
            </li>
        {{ else }}
            <li class="rounded border border-gray-800 flex">
                <a href="/docs/signals" class="p-4 cursor-pointer w-full">Signals</a>
            </li>
        {{ end }}
        {{ if strEquals .ReqPath "/docs/events" }}
            <li class="rounded border border-gray-800 text-dracula-pink flex">
                <a href="/docs/events" class="p-4 cursor-pointer w-full">Events</a>
            </li>
        {{ else }}
            <li class="rounded border border-gray-800 flex">
                <a href="/docs/events" class="p-4 cursor-pointer w-full">Events</a>
            </li>
        {{ end }}
        {{ if strEquals .ReqPath "/docs/observers" }}
            <li class="rounded border border-gray-800 text-dracula-pink flex">
                <a href="/docs/observers" class="p-4 cursor-pointer w-full">Observers</a>
            </li>
        {{ else }}
            <li class="rounded border border-gray-800 flex">
                <a href="/docs/observers" class="p-4 cursor-pointer w-full">Observers</a>
            </li>
        {{ end }}
        {{ if strEquals .ReqPath "/docs/installation" }}
            <li class="rounded border border-gray-800 text-dracula-pink flex">
                <a href="/docs/installation" class="p-4 cursor-pointer w-full">Installation</a>
            </li>
        {{ else }}
            <li class="rounded border border-gray-800 flex">
                <a href="/docs/installation" class="p-4 cursor-pointer w-full">Installation</a>
            </li>
        {{ end }}
    </ul>
</nav>
{{ end }}